*.min.*
assets/css/bundle.min.css
assets/font/fontello.eot
assets/font/fontello.svg
assets/font/fontello.ttf
assets/font/fontello.woff
assets/font/fontello.woff2
assets/font/open-sans-semibold.woff2
assets/img/timetravel.jpg
src/css/fontello-*
brouillons
node_modules
TODO.md
fontello*
full_data.json
slides/.gitignore
slides/backbone-meetup/img/data-vendors-consumers.xcf
slides/hackadon/
src/css/animation.css
src/css/fontello.css

# "!" prefix is used to re-include files excluded by globs
# see doc: https://git-scm.com/docs/gitignore

# commit only for deployment on master (using -f)
index.html
rss.xml
tags
*html
assets/css/bundle.css
src/css/main.css

*.mp3
