<h1 class="highlight">III.<span class="titletab"></span> Difficulties and opportunities to implement a philia- and transindividuation-friendly marketing in the emerging technological and sociological context</h1>
<ul class='structure panel'><li class='deep-1'><a href='#3-1' class='deep-1'>
  <span class='rank'>3.1</span><span class='title'>Toward an ecology of the spirit?</span>
</a><ul><li class='deep-2'><a href='#3-1-1' class='deep-2'>
  <span class='rank'>3.1.1</span><span class='title'>Downfall of the esprit value and systemic toxicity</span>
</a></li><li class='deep-2'><a href='#3-1-2' class='deep-2'>
  <span class='rank'>3.1.2</span><span class='title'>The problem of added value evaluation</span>
</a></li></ul></li><li class='deep-1'><a href='#3-2' class='deep-1'>
  <span class='rank'>3.2</span><span class='title'>What are the alternatives?</span>
</a><ul><li class='deep-2'><a href='#3-2-1' class='deep-2'>
  <span class='rank'>3.2.1</span><span class='title'>Fighting the attention and desire resource shortage: stoping to use advertisement?</span>
</a></li><li class='deep-2'><a href='#3-2-2' class='deep-2'>
  <span class='rank'>3.2.2</span><span class='title'>Change in the industrial and commercial paradigm</span>
</a></li><li class='deep-2'><a href='#3-2-3' class='deep-2'>
  <span class='rank'>3.2.3</span><span class='title'>Opportunities of the new social organization and P2P-RM</span>
</a></li></ul></li></ul>