@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("/assets/font/open-sans-light.woff2") format("woff2"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("/assets/font/open-sans.woff2") format("woff2"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/assets/font/open-sans-bold.woff2") format("woff2"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("/assets/font/fontawesome-webfont.woff2?v=4.4.0") format("woff2");
  font-weight: normal;
  font-style: normal; }

.radius-top {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.radius-bottom {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.radius-left {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.radius-right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

body {
  text-align: center;
  color: #35393B;
  font-family: 'Open Sans', sans-serif; }

main {
  margin: 0 auto;
  max-width: 50em; }

#pic {
  margin: 0 auto;
  background-color: #222;
  border-radius: 50em;
  padding: 5px;
  box-shadow: 0 1px 2px 0 rgba(34, 25, 25, 0.5); }

body ul, body ul li, body ul li ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

body li {
  margin: 0; }

body p {
  margin: 0;
  padding: 0; }

body a {
  outline: 0; }

small {
  opacity: 0.7;
  transition: opacity 0.5s ease; }
  small:hover {
    opacity: 1; }

nav {
  text-align: left; }
  nav a {
    opacity: 0.4;
    transition: opacity 0.5s ease;
    color: grey; }
    nav a:hover {
      opacity: 1; }
  nav .fa {
    font-size: 2.5em; }

main.item {
  text-align: left; }

#articles, #posts {
  background-color: #eee;
  border-radius: 2px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em; }
  #articles .more, #posts .more {
    margin-top: 0.6em;
    width: 100%;
    text-align: right;
    opacity: 0.8;
    transition: opacity 0.5s ease;
    font-size: 0.8; }
    #articles .more:hover, #posts .more:hover {
      opacity: 1; }
    #articles .more a, #posts .more a {
      background-color: #ddd;
      border-radius: 2px;
      padding: 0.2em;
      color: #35393B;
      text-decoration: none; }
    #articles .more .fa, #posts .more .fa {
      margin-right: 0.3em; }
  #articles li a, #posts li a {
    text-decoration: none;
    font-size: 2em; }
  #articles li .cover, #posts li .cover {
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    transition: box-shadow 0.5s ease; }
    #articles li .cover:hover, #posts li .cover:hover {
      box-shadow: -1px 1px 8px 3px rgba(0, 0, 0, 0.3) inset, 1px -1px 8px 3px rgba(0, 0, 0, 0.3) inset; }
  #articles li h2, #articles li h3, #posts li h2, #posts li h3 {
    color: white;
    text-shadow: 2px 0 0 rgba(115, 116, 119, 0.2), -2px 0 0 rgba(115, 116, 119, 0.2), 0 2px 0 rgba(115, 116, 119, 0.2), 0 -2px 0 rgba(115, 116, 119, 0.2), 1px 1px rgba(115, 116, 119, 0.2), -1px -1px 0 rgba(115, 116, 119, 0.2), 1px -1px 0 rgba(115, 116, 119, 0.2), -1px 1px 0 rgba(115, 116, 119, 0.2);
    font-weight: bold; }

footer .links {
  max-width: 45em;
  margin: 0.5em auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  display: flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2em;
  margin-bottom: 2em; }
  footer .links a {
    width: 10em;
    height: 6em;
    margin: 0.2em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(53, 57, 59, 0.9);
    transition: color 0.5s ease; }
    footer .links a .fa {
      font-size: 3em; }
    footer .links a span {
      font-weight: bold;
      white-space: nowrap; }
    footer .links a:hover.inventory {
      color: #FFD402; }
    footer .links a:hover.gratipay {
      color: #FE313A; }
    footer .links a:hover.email {
      color: #39B54A; }
    footer .links a:hover.twitter {
      color: #55ACEE; }
    footer .links a:hover.wikidata {
      color: #990000; }
    footer .links a:hover.wikipedia {
      color: #B3B4B6; }
    footer .links a:hover.commons {
      color: #00649A; }
    footer .links a:hover.openstreetmap {
      color: #9BCE81; }
    footer .links a:hover.github {
      color: #333333; }
    footer .links a:hover.transifex {
      color: #125A8C; }
    footer .links a:hover.linkedin {
      color: #1C87BD; }
    footer .links a:hover.stackoverflow {
      color: #F48024; }
