<ul class="panel masterplan">
<h3>Plan</h3>
  <li><h5><a href="/articles/paper-ethical-marketing/part-1" id="I">
  I.<span class="titletab"></span>The notion of ethical marketing
  </a></h5> </li>

  <li><h5><a href="/articles/paper-ethical-marketing/part-2" id="II">
  II.<span class="titletab"></span> Analyze of marketing’s impact on individual and collective psychology with Bernard Stiegler’s work
  </a></h5> </li>

  <li><h5><a href="/articles/paper-ethical-marketing/part-3" id="III">
  III.<span class="titletab"></span> Difficulties and opportunities to implement a transindividuation-friendly marketing
  </a></h5> </li>

  <li><a href="/articles/paper-ethical-marketing/bibliography" id="bibliography">
  Bibliography
  </a></li>

  <li><a href="/articles/paper-ethical-marketing/lexic" id="lexic">
  Lexic of non-english words
  </a></li>
</ul>
