#paper-ethical-marketing, .paper-ethical-marketing-child{
  .structure{
    a{
      @include display-flex(row);
    }
  }
  li.deep-1:not(:last-child){
    margin-bottom: 1.6em;
  }
  a.deep-1{
    font-weight: bold;
  }
  .rank{
    flex: 0 0 80px;
  }
}
.note-from-the-future{
  h4{
    margin: 0;
  }
  padding: 1em;
  border-radius: 3px;
  background-color: #eee;
}
