$previewMaxWidth: 30em;
$previewHeaderColor: white;
$previewHeaderBg: #444;

li{
  margin: 0.5em;
  &:hover{
    .preview-cover{
      @include transition(box-shadow);
      @include inner-shadow;
    }
  }
  position: relative;
  width: 20em;
  &:hover{
    .preview-header{
      opacity: 1;
      background-color: rgba(black, 0.7);
    }
    .details{
      opacity: 1;
    }
  }
  /*Small screens*/
  @media screen and (max-width: 730px) {
    width: 90%;
  }
}

.preview-cover{
  @include radius-top;
  background-size: cover;
  background-position: center center;
  @include display-flex(column, center, center);
  height: 15em;
}

.preview-header{
  @include position(absolute, 0, 0, 0, 0);
  @include display-flex(column, center, flex-start);
  @include radius-bottom;
  @include transition(opacity);
  opacity: 0.8;
  color: $previewHeaderColor;
  background-color: rgba(black, 0.5);
  .core{
    padding: 0.5em;
    @include display-flex(column, center, flex-end);
    flex: 1 0 auto;
  }
  .title{
    font-size: 1.4em;
    margin: auto;
    /*Small screens*/
    @media screen and (max-width: $very-small-screen) {
      max-width: 100%;
    }
    /*Large screens*/
    @media screen and (min-width: $very-small-screen) {
      max-width: 19em;
    }
  }
  .subtitle{
    font-weight: bold;
    font-size: 0.8em;
    // color: darken($previewHeaderColor, 30%);
  }
  .description{
    font-size: 0.8em;
    // color: darken($previewHeaderColor, 50%);
  }
  .details{
    @include display-flex(column, center, center);
    max-width: 100%;
    font-size: 0.7em;
    color: white;
  }
  .date{
    margin: auto 0.2em 0 0.2em;
    text-align: center;
    font-weight: bold;
  }
  .preview-tags{
    margin: 0 0.2em;
    text-align: center;
  }
}
