$small-screen: 700px;

ul#tabs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  li{
    margin-top: 2em;
    margin-bottom: 3em;
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4em;
    &:first-child{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:not(:first-child){
      border-left: 1px solid rgba(#222, 0.2);
    }
    &:last-child{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    a{
      background-color: #eee;
      flex: 1;
      // centering spans
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // while taking all the height
      height: 100%;
      color: #444;
      transition: color 0.3s;
      transition: background-color 0.3s;
      &:hover, &.selected{
        color: white;
        background-color: $light-blue;
      }
    }
  }
  .title{
    font-weight: bold;
  }
  &.expanded{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    li{
      margin-top: 0;
    }
  }
  /*Small screens*/
  @media screen and (max-width: $small-screen) {
    .legend{
      display: none;
    }
  }
}

$tabs-height: 134px;
#expanded-tabs-placeholder{
  display: none;
  height: $tabs-height;
}