#time-capsule{
  ul.bullet-list{
    list-style-type: disc;
    li{
      list-style-type: disc;
      list-style-position: outside;
      margin-left: 1em;
      padding-left: 1em;
      padding-bottom: 1em;
      ul{
        padding-top: 1em;
      }
    }
  }
  .precision{
    font-size: 1rem;
    color: #666;
  }
}

.marketplaces{
  display: flex;
  flex-direction: row;
  a{
    @include text-hover($light-blue);
    text-align: center;
    span{
      font-weight: bold;
      display: block;
    }
    padding: 1em;
    font-size: 1.5em;
  }
  .fa{
    font-size: 2em;
  }
}