@import 'fonts';
@import 'colors';
@import 'mixins';
body{
  text-align: center;
  color: $dark-grey;
  font-family: 'Open Sans', sans-serif;
}
main{
  margin: 0 auto;
  max-width: 40em;
}

#pic{
  margin: 0 auto;
  background-color: #222;
  border-radius: 50em;
  padding: 5px;
  @include shadow-box;
}

// RESET
body{
  // /!\ SIZES EVERYTHING
  font-size: 120%;
  ul, ul li, ul li ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    margin: 0;
  }
  p{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
  }
  a{
    outline: 0;
    text-decoration: none;
  }
}

small{
  @include shy(0.7);
}

@import 'nav';
@import 'item';
@import 'lists';
@import 'articles';
@import 'footer';
